<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" version="6.0">
  <servlet>
    <description></description>
    <display-name>ShainIndex</display-name>
    <servlet-name>ShainIndex</servlet-name>
    <servlet-class>info.searchman.ShainIndex</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShainIndex</servlet-name>
    <url-pattern>/ShainIndex</url-pattern>
  </servlet-mapping>
  <display-name>webapp</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>ShainInsert</display-name>
    <servlet-name>ShainInsert</servlet-name>
    <servlet-class>info.searchman.ShainInsert</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShainInsert</servlet-name>
    <url-pattern>/ShainInsert</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShainUpdate</display-name>
    <servlet-name>ShainUpdate</servlet-name>
    <servlet-class>info.searchman.ShainUpdate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShainUpdate</servlet-name>
    <url-pattern>/ShainUpdate</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShainInsertComplete</display-name>
    <servlet-name>ShainInsertComplete</servlet-name>
    <servlet-class>info.searchman.ShainInsertComplete</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShainInsertComplete</servlet-name>
    <url-pattern>/ShainInsertComplete</url-pattern>
  </servlet-mapping>
</web-app>